// VARIABLES
$primary: #ea580c;
$primary-light: #f97316;
$secondary: #047857;
$gray-light: #f1f5f9;
$gray-medium: #e2e8f0;
$gray-dark: #cbd5e1;
$dark: #111827;
$white: #fff;
$main-font: "Merriweather", serif;
